body{
}

#title, #headshot, #email, #phone_number {
    display: inline-block;
    vertical-align: middle;
    top: 0;
}

#title {
    margin-top: 8%;
    margin-left: 5%;
    font-size: 7vw;
    font-family: 'Rockwell', serif;
}

#headshot {
    width: 30%;
    position: absolute;
    right: 0;
    outline: black solid 5px;
    margin-right: 5%;
    margin-top: 2%;
}

#email {
    position: absolute;
    margin-top: 15vw;
    left: 0;
    margin-left: 6%;
    font-size: 2.5vw;
}

#phone_number {
    position: absolute;
    margin-top: 15vw;
    left: 0;
    margin-left: 40%;
    font-size: 2.5vw;
}